.navbar ul li a {
    display: none;
}

.container {
    overflow: hidden;
    margin: auto;
    max-width: 600px;
}

.logo  {
    display: flex;
    text-align: center;
}




@media(max-width:600px) {
#home-articles .container,
.main-header .center,
#hotels,
#about .container,
#about .container-1,
.people,
#main-footer {
    grid-template-columns: 1fr;
}


#home-articles .container {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
  
  #home-articles .container img {
   grid-template-columns: repeat(3, 1fr);
  }
  
  #main-article .article-container  {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    text-align: center;
    justify-content: center;
  }
  
  #hotels {grid-template-columns: 1fr;
      grid-gap: 0.8rem;
      align-items: center;
      margin: 0;
  }
  
  #about .container-0 {
      display: flex;
      flex-direction: column-reverse;
      padding: 0;
  }
  
  #about .container-0 img {
      display: flex;
      width: 50vh;
      height: 50%;
  }
  
  #about .container-0 p {
      text-align: center;
      justify-content: center;
      margin: 0;
      padding: 2px;
  }
  
  #about .container-0 h3{
     display: flex;
  }
  
  #about .fg  {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      padding: 2px;
      margin-right: 0;
  }
  
  .people p {
      display: flex;
      flex-direction: column;
      padding: 3px;
      text-align: center;
      justify-content: center;
  }
  
  .flex-item {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
      width: 50%;
      text-align: center;
      justify-content: center;
      margin: 0;
      padding: 0;
  }
  
  #main-footer .container{
      text-align: center;
      justify-content: center;
      padding: 3px;
  }

  #main-footer .container ::after {
    width: 90%;
    height: 90%;
  }
}
